[submodule "Statiq.Docs.Shell/root/theme"]
	path = Statiq.Docs.Shell/root/theme
	url = git@github.com:statiqdev/Docable.git
[submodule "statiq-root/root/theme"]
	path = statiq-root/root/theme
	url = git@github.com:statiqdev/Docable.git
[submodule "statiq-root/theme"]
	path = statiq-root/theme
	url = git@github.com:statiqdev/Docable.git
